
@import 'semantic';

/* My Styles */
body{
  //  background: url(../img/meep.jpg);
    //background-repeat: no-repeat;
    background-color: #abc;
    padding-top: 20em;
}


img{
    height: 40em;
}

grid{
    margin-top: 15em;
    margin-left: 15em;
}

i{
    color: #abc;
    height: 20em;
    width: 20em;
}